.tab-container {
	display: flex;
	justify-content: center;
	width: 45%;
    border-radius: 4px;
    margin: 0 1%;
	padding: 1%;
    background-color: #2c2d36;
}

/** {
    outline: 1px dashed red;
}*/

/* Comments Section */
.comments-section, .observables-section, .events-section {
    width: 100%;
    padding: 1%;
}

.add-comment-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1% 0;
}

.add-comment-container form textarea {
    width: 25%;
}

.comments-list {
    width: 100%;
}

.comment {
    background-color: #22232b;
    margin-bottom: 15px;
    padding: 1%;
    border-radius: 4px;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.comment-content {
    flex-grow: 1;
    color: #ffffff;
}

.comment-metadata {
    color: #808080;
    font-size: 0.9em;
}

.delete-comment-btn {
    background-color: #CC0000;
    color: white;
    border: none;
    padding: 1%;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.delete-comment-btn:hover {
    background-color: #aa0000;
}

#comment-text {
    background-color: #333440;
    border: 1px solid #3498db;
    color: white;
    padding: 1%;
    border-radius: 4px;
    width: 100%;
    min-height: 100px;
    resize: vertical;
    margin-bottom: 10px;
}

.comment-form-actions {
    display: flex;
    justify-content: flex-end;
}

/* Observables Section */
.observable {
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 4px;
}

/* Events Section */
.event {
    background-color: #22232b;
    margin-bottom: 15px;
    border-radius: 4px;
}

.alert-event {
    border-left: 4px solid #e74c3c;
}

.log-event {
    border-left: 4px solid #3498db;
}

.primary-btn {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 1.5%;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.primary-btn:hover {
    background-color: #2980b9;
}