body {
    background-color: #22232b;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

nav {
    width: 90%;
}

main {
    width: 100%;
}

a {
    color: white;
}

a:hover {
    color: grey;
}

table {
    width: 100%;
}

#logout-btn {
    padding: 5px 10px;
    background-color: #CC0000;
    color: white;
    border: none;
    cursor: pointer;
}

.alert {
  margin: 16px 0;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.success {
  background-color: #d4edda;
  color: #155724;
}

.error {
  background-color: #f8d7da;
  color: #721c24;
}