body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input, select {
    margin-bottom: 15px;
    padding: 10px;
}

.spinner {
    display: none; /* Initially hidden */
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite; /* Spin animation */
    margin: 20px auto; /* Centered */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#input-spinner-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    outline: 3px solid blue;
}

#input-spinner-container input {
    width: 100%;
}

* {
    outline: 1px dashed red;
}

.alert {
  margin: 16px 0;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.success {
  background-color: #d4edda;
  color: #155724;
}

.error {
  background-color: #f8d7da;
  color: #721c24;
}

#logout-btn {
  background-color: #CC0000;
}