body {
    background-color: #22232b;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.form-inputs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

form .form-inputs input {
    width: 100%;
    margin-bottom: 3%;
}

form button {
    width: 50%;
}

a {
    color: white;
}

a:hover {
    color: grey;
}

.alert {
  margin: 16px 0;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.success {
  background-color: #d4edda;
  color: #155724;
}

.error {
  background-color: #f8d7da;
  color: #721c24;
}

#logout-btn {
  background-color: #CC0000;
}